{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<h1 class="text-center text-success font-weight-bold">Panel zarządzania stroną - MyTickets</h1>
{% endblock %}
